﻿@model MvcMovie.Models.Recipient

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Recipient</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Messages, "Messages", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Messages", String.Empty)
                @Html.ValidationMessageFor(model => model.Messages)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Receiver, "Receiver", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Receiver", String.Empty)
                @Html.ValidationMessageFor(model => model.Receiver)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
