﻿        .ccms-panel {
            width: 90%;
            list-style-type: none;
            padding-left:0px;
        }
        .ccms-panel-acc {
            width: 100%;
            list-style-type: none;
            display:inline-block;
            padding: 5px 5px 5px 5px;
            vertical-align:top;
        }
        .ccms-header-A {
            margin: 2px 2px 2px 2px;
            width:  100%;
            height: 5%;
            text-align:center;
            color:black;
        }
        .ccms-header-B {
            margin: 2px 2px 2px 2px;
            width:  100%;
            height: 5%;
            text-align:center;
            color:black;
        }
         .ccms-message a{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
            color: rgb(100,100,100);
        }
        .ccms-message b{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
        }
        .ccms-message p{
            width: 100%;
            font-size:x-small;
        }

        .ccms-message-L-A a{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
            color: rgb(100,100,100);
        }
        .ccms-message-L-A b{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
        }
        .ccms-message-L p{
            width: 100%;
            font-size:x-small;
        }
        .ccms-message-L-B a{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
            color: rgb(100,100,100);
        }
        .ccms-message-L-B b{
            width: 100%;
            font-size:x-small;
            font-weight:bold;
        }
        .ccms-message-plh {
            position: relative;
            left:-38px;
            margin-top:10px;
            width: 440px;
            height: 50px;
            background-color: rgb(220,220,220);
        }
        
        /* ---------------------------------------------------------- */

        .box {
            text-align:center;
        }

        .drg-A{
            
            margin-left:0px;
            padding-left:0px;
            width: 252px;
	        position: relative;
            left:-10%;
        }
        .drg-B{
            
            margin-left:0px;
            padding-left:0px;
            width: 252px;
            position: relative;
            left:10%;
        }
        
        #draggable2 {
            display:inline-block;
            padding: 5px 5px 5px 5px;
            vertical-align:top;
        }
        #draggable3 {
            display:inline-block;
            padding: 5px 5px 5px 5px;
            vertical-align:top;
        }
        .cssbar{
            min-width: 800px;
        }
        
        .ccms-message-A .testC{
            border:solid thin lightgray;
            margin:1px 0px 2px 0px;
            padding:1px;
            left:15px;
        }
        .ccms-message-A .testD{
            margin:1px 0px -1px 0px;
        }
        .ccms-message-B .testC{
            background-color:lightgray;
            margin:1px 0px 2px 0px;
            padding:1px;
            left:13px;
        }
        .ccms-message-B .testD{
            margin:1px 0px -1px 0px;
            background-color:darkgray;
        }

        .ccms-message-L-A .testC{
            border:solid thin lightgray;
            margin:1px 0px 2px 0px;
            padding:2px;
        }
        .ccms-message-L-A .testD{
            margin:1px 0px -1px 0px;
        }

        .ccms-message-L-B .testC{
            background-color:lightgray;
            margin:1px 0px 2px 0px;
            padding:2px;
        }
        .ccms-message-L-B .testD{
            margin:1px 0px -1px 0px;
            background-color:darkgray;
        }

        .NavText{
            font:xx-large;
            color:gray;
        }
        .testD{
            border:thin dashed;
        }


        