﻿    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title – Movie App</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/CCMSstyles")
        @Styles.Render("~/Content/drpbs3")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/CCMScontrols")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/drp")
        @Scripts.Render("~/bundles/knockout")
       
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Chain Manager", "Index", "Home")</li>
                        <li>@Html.ActionLink("Analyser", "Index", "Analyser")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Tables <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Upload PST", "Index", "Upload")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Links", "Index", "Links")</li>
                                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                                <li>@Html.ActionLink("Contacts To Groups", "Index", "Cnt2Grp")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Messages", "Index", "Messages")</li>
                                <li>@Html.ActionLink("Recipients", "Index", "Recipients")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Threads", "Index", "Threads")</li>
                                <li>@Html.ActionLink("ThreadTypes", "Index", "ThreadTypes")</li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
              <footer>
                <p>&copy; @DateTime.Now.Year – CCM Systems</p>
              </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/CCMSstyles")
        @Styles.Render("~/Content/drpbs3")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/CCMScontrols")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/drp")
        @Scripts.Render("~/bundles/knockout")

        @RenderSection("scripts", required: false)
    </body>
