﻿@model MvcMovie.Models.Message

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTime)
                @Html.ValidationMessageFor(model => model.DateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sender, "Sender", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Sender", String.Empty)
                @Html.ValidationMessageFor(model => model.Sender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subj, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subj)
                @Html.ValidationMessageFor(model => model.Subj)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thread, "Thread", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Thread", String.Empty)
                @Html.ValidationMessageFor(model => model.Thread)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A_Group, "A_Group", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("A_Group", String.Empty)
                @Html.ValidationMessageFor(model => model.A_Group)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.B_Group, "B_Group", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("B_Group", String.Empty)
                @Html.ValidationMessageFor(model => model.B_Group)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.From_Group, "From_Group", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("From_Group", String.Empty)
                @Html.ValidationMessageFor(model => model.From_Group)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextContent)
                @Html.ValidationMessageFor(model => model.TextContent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
