﻿@model MvcMovie.Models.MessageDetails

@{
    ViewBag.Title = "Details";
}

<h2>Message details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Thread
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Thread1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.DateTime)
        </dd>

        <dt>
            Sender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Contact.Name)
            @Html.ActionLink("...View details", "Details", "Contacts", new { id = Model.Message.Sender }, null)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.Message.Subj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Subj)
        </dd>                
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Message.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h4>Recipients</h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Contact Details
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Contacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("...View details", "Details", "Contacts", new { id = item.ID }, null)
            </td>
        </tr>
    }
</table>

<h4>Content</h4>
<hr />
<div>
    @(new HtmlString(ViewData["myInnerHtml"].ToString()))
</div>


