﻿@model MvcMovie.Models.GroupDetails

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Group.Name)</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Group.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h3>Contacts</h3>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Contact details
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Contacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("...View details", "Details", "Contacts", new { id = item.ID }, null)
            </td>
        </tr>
    }
</table>