﻿@model MvcMovie.Models.CMViewModel
<!DOCTYPE html>
<html>

<body>
    <nav class="navbar navbar-default navbar-static-top">

               <form class="navbar-form navbar-left">
                    <a class="h4 NavText">Prim filters</a>
                    <div class="form-group">
                        <select id="selectedLink" data-bind="options: Links, optionsText: 'name',value: selectedLink, optionsCaption: '-Please select a Link-'"></select>
                    </div>
                    <div class="form-group">
                        <input id="reportrange" class="form-control" />
                    </div>
                </form>

                <div class="nav-divider"></div>
                <form class="navbar-form navbar-left">
                    <a class="h4 NavText">Aux filters</a>
                    <div class="form-group">
                        <select id="chain" class="form-control">
                            <option>-Time frame-</option>
                            <option>1 h</option>
                            <option>3 h</option>
                        </select>
                    </div>
                    <div class="form-group" data-toggle="buttons-checkbox">
                        <button id="CB_Subj" class="btn btn-default">SUBJ</button>
                    </div>
                </form>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <button id="btn1" class="btn btn-primary btn-block" data-bind="click: onGoClick_real">GO!!!</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" data-bind="click: onSaveClick">Save</button>
                    </div>
                </form>
    </nav>

    <div class="container-fluid ">
        <div class="row-fluid">
            <div id="draggable2" class="text-center col-xs-3 h3">
                
                    <h3 class="ccms-header-A col-xs-12" data-bind="text: countA"></h3>
                    <ul class="text-center ccms-panel col-xs-12" id="A_List" data-bind="foreach: {data:A_Messages, as: 'message'}">
                        <li class="ccms-message ccms-message-A" data-bind="visible:($index() >= ($parent.CurPageA()-1)*$parent.Page_Len())&&($index() < $parent.CurPageA()*$parent.Page_Len())&&(message.show), event: { dblclick: $root.ShowForm}">
                            <div class="row">

                                <div class="text-right col-xs-12 col-md-2">
                                    <button class="btn btn-default testD " data-bind="click: $parent.A_Alloc">+</button>
                                </div>
                                <div class="text-center col-xs-12 col-md-10 testC">
                                    <div class="row">
                                        <div class="text-left col-xs-7">
                                            <a data-bind="text: message.s_sender"></a>
                                        </div>
                                        <div class="text-right col-xs-5">
                                            <a data-bind="text: message.s_datetime"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center col-xs-12">
                                            <b data-bind="text: message.s_subj"></b>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                
                    <div class="btn-group">
                        <button class="btn btn-default" data-bind="click: A_PagePrev"><</button>
                        <button class="btn btn-default" data-bind="click: A_PageNext">></button>
                    </div>
                
            </div>
            <div class="text-center col-xs-6">
                <div id="accordion1" data-bind="foreach: {data:Threads, as: 'thread'}">
                    <h3 data-bind="text: thread.header, click: $root.onThreadClick"></h3>

                    <ul class="text-center" data-bind="foreach: {data:items, as: 'item'}">
                        <li data-bind="attr: { class: item.type }, event: { dblclick: $root.ShowForm}">
                            <div class="row">

                                <div class="text-right col-xs-12 col-md-2">
                                    <button class="btn btn-default testD " data-bind="click: $root.Realloc">X</button>
                                </div>
                                <div class="text-center col-xs-12 col-md-10 testC">
                                    <div class="row">
                                        <div class="text-left col-xs-7">
                                            <a data-bind="text: item.sender"></a>
                                        </div>
                                        <div class="text-right col-xs-5">
                                            <a data-bind="text: item.datetime"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center col-xs-12">
                                            <b data-bind="text: item.s_subj"></b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-left col-xs-12">
                                            <p data-bind="text: item.s_content"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div id="draggable3" class="text-center col-xs-3 ">
                
                    <h3 class="ccms-header-B h3" data-bind="text: countB"></h3>
                    <ul id="B_List" data-bind="foreach: {data:B_Messages, as: 'message'}" class="text-center ccms-panel">
                        <li class="ccms-message ccms-message-B" data-bind="visible:($index() >= ($parent.CurPageB()-1)*$parent.Page_Len())&&($index() < $parent.CurPageB()*$parent.Page_Len())&&(message.show), event: { dblclick: $root.ShowForm}">
                            <div class="row">

                                <div class="text-right col-xs-12 col-md-2">
                                    <button class="btn btn-default testD" data-bind="click: $parent.B_Alloc">+</button>
                                </div>
                                <div class="text-center col-xs-12 col-md-10 testC">
                                    <div class="row">
                                        <div class="text-left col-xs-7">
                                            <a data-bind="text: message.s_sender"></a>
                                        </div>
                                        <div class="text-right col-xs-5">
                                            <a data-bind="text: message.s_datetime"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center col-xs-12">
                                            <b data-bind="text: message.s_subj"></b>
                                        </div>
                                    </div>
                                </div>                                

                            </div>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <button class="btn btn-default" data-bind="click: B_PagePrev"><</button>
                        <button class="btn btn-default" data-bind="click: B_PageNext">></button>
                    </div>
                
            </div>
        </div>

    </div>
 
    <div id="dialog-form">        
    </div>

    <script>
        $(function () {            
            
            $("#selectedLink").addClass("form-control");
            var ThreadNum = -1;
            var SelStr = '';
            var activeThread = false;
            var target = 1;
            
            $('#reportrange').daterangepicker(
                {
                    format: 'DD/MM/YYYY',
                    ranges: {
                        'Today': [moment(), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
                        'This Year': [moment().startOf('year'), moment().endOf('year')],
                        'Last Year': [moment().subtract('year', 1).startOf('year'), moment().subtract('year', 1).endOf('year')]
                    },
                    startDate: moment().subtract('days', 29),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
            );
           
            function ThreadToSend(_threadID, _name, _items) {
                var self = this;
                self.threadID = _threadID;
                self.name = _name;
                self.items = _items;
            }

            function Thread(_name, _dbID) {
                var self = this;
                self.name = _name;
                if (_dbID == null) { self.dbID = ThreadNum; ThreadNum = ThreadNum-1 } else { self.dbID = _dbID }
                self.header = ko.observable(self.name);
                self.items = ko.observableArray([]);
                self.Acount = 0;
                self.Bcount = 0;

                self.re_alloc = function (msg) {
                    self.items.remove(msg);
                }
            }

            function Message(_datetime, _subj, _sender, _content, _textcontent, _type, _show, _dbID) {
                var self = this;
                self.s_datetime = _datetime.toString().substring(0, 12);
                self.s_subj = _subj.toString().substring(0, 60);
                self.s_sender = _sender.toString().substring(0, 17);
                self.s_content = _textcontent.toString().substring(0, 120) + " ...";
                self.datetime = _datetime;
                self.subj = _subj;
                self.sender = _sender;
                self.content = _content;
                self.type = _type;
                self.dbID = _dbID;
                self.show = ko.observable(_show);
            }
            function Link(_id, _name) {
                var self = this;
                self.id = _id;
                self.name = _name;
            }

            // Overall viewmodel for this screen, along with initial state
            function CCMSViewModel() {
                var self = this;
                var activeThread = -1;
                self.startDate = "";
                self.endDate = "";
                // ----------------------------------------------Populating data arrays BEG----------------------------------------------
                self.Links = ko.observableArray();

                self.A_Messages = ko.observableArray();
                self.B_Messages = ko.observableArray();

                self.selectedLink = ko.observable();

                self.Threads = ko.observableArray([]);

                // ---------------------------------------------- Pagination BEG----------------------------------------------
                // Variables
                self.Page_Len = ko.observable(10);
                self.CurPageA = ko.observable(1);
                self.CurPageB = ko.observable(1);

                // Count messages and pages
                self.countA = ko.computed(function () {
                    var beg = ((self.CurPageA() - 1) * self.Page_Len() + 1);                    
                    var total = self.A_Messages().length;
                    var end = Math.min(((self.CurPageA()) * self.Page_Len()), total);
                    if (total == 0) {
                        return "No messages found";
                    } else
                    {
                        return beg + '..' + end + ' of ' + total;
                    }
                }, self);
                self.countB = ko.computed(function () {
                    var beg = ((self.CurPageB() - 1) * self.Page_Len() + 1);
                    var total = self.B_Messages().length;
                    var end = Math.min(((self.CurPageB()) * self.Page_Len()), total);

                    if (total == 0) {
                        return "No messages found";
                    } else {
                        return beg + '..' + end + ' of ' + total;
                    }
                }, self);

                self.TotPagesA = ko.computed(function () {
                    return ~~(self.A_Messages().length / self.Page_Len()) + 1;
                }, self);
                self.TotPagesB = ko.computed(function () {
                    return ~~(self.B_Messages().length / self.Page_Len()) + 1;
                }, self);
                
                // Page switch functions
                self.A_PageNext = function () {
                    if (self.CurPageA() < self.TotPagesA()) { self.CurPageA(self.CurPageA() + 1); }
                }
                self.A_PagePrev = function () {
                    if (self.CurPageA() > 1) { self.CurPageA(self.CurPageA() - 1); }
                }

                self.B_PageNext = function () {
                    if (self.CurPageB() < self.TotPagesB()) { self.CurPageB(self.CurPageB() + 1); }
                }
                self.B_PagePrev = function () {
                    if (self.CurPageB() > 1) { self.CurPageB(self.CurPageB() - 1); }
                }

                // ---------------------------------------------- Message allocation BEG----------------------------------------------
                self.A_Messages.subscribe(function () {
                    self.onGoClick();
                    //  self.A_refresh();
                });
                self.B_Messages.subscribe(function () {
                    self.onGoClick();
                    //  self.B_refresh();
                });

                self.A_Alloc = function (_msg) {
                    var msg = self.A_Messages.remove(_msg)[0];
                    if (activeThread >= 0) {
                        self.Threads()[activeThread].items.push(msg);
                        self.Threads()[activeThread].items.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.datetime < right.datetime ? -1 : 1) })
                    } else {
                        self.Threads.push(new Thread(msg.subj));
                        self.Threads()[self.Threads().length - 1].items.push(msg);
                        self.setThreadCount(self.Threads()[self.Threads().length - 1]);
                        $("#accordion1").accordion("refresh");
                    }
                    self.drgRefresh('#draggable2');
                    self.drgRefresh('#accordion1');
                }
                self.B_Alloc = function (_msg) {
                    var msg = self.B_Messages.remove(_msg)[0];
                    if (activeThread >= 0) {
                        self.Threads()[activeThread].items.push(msg);
                        self.Threads()[activeThread].items.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.datetime < right.datetime ? -1 : 1) })
                    } else {
                        self.Threads.push(new Thread(msg.subj));
                        self.Threads()[self.Threads().length - 1].items.push(msg);
                        self.setThreadCount(self.Threads()[self.Threads().length - 1]);
                        $("#accordion1").accordion("refresh");
                    }
                    self.drgRefresh('#draggable3');
                    self.drgRefresh('#accordion1');
                }

                self.Realloc = function (_msg) {
                    var msg = self.Threads()[activeThread].items.remove(_msg)[0];
                    if (self.Threads()[activeThread].items().length == 0) {
                        self.Threads.destroy(self.Threads()[activeThread]);
                        $("#accordion1").accordion("refresh");
                        $("#accordion1").accordion("option", "active", false);
                        activeThread = -1;
                    }
                    if (msg.type == 'ccms-message-l ccms-message-l-a') {
                        self.A_Messages.push(msg);
                        self.A_Messages.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.datetime < right.datetime ? -1 : 1) });
                        self.drgRefresh('#draggable2');
                    } else {
                        self.B_Messages.push(msg);
                        self.B_Messages.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.datetime < right.datetime ? -1 : 1) });
                        self.drgRefresh('#draggable3');
                    }
                    self.drgRefresh('#accordion1');
                }

                // ---------------------------------------------- Message Filtering BEG----------------------------------------------
                self.onThreadClick = function (_trd) {
                    self.drgRefresh("#accordion1");

                    var trd = self.Threads.indexOf(_trd);

                    if (activeThread != trd) {
                        activeThread = trd;
                        if (selSubj) {
                            self.fltSubj(_trd.name);
                           // (1 < 2)||(3>2) ? alert('YES') : alert('NO')
                            //so4rt a4r4ray
                            
                            self.A_Messages.sort(function (left, right) { return (left.datetime == right.datetime)&&(left.show() == right.show()) ? 0 : (left.show() > right.show() ? -1 : (left.datetime < right.datetime ? -1 : 1)) });
                            self.B_Messages.sort(function (left, right) { return ((left.datetime == right.datetime) && (left.show() == right.show())) ? 0 : (left.show() > right.show() ? -1 : ((left.show() == right.show()) && (left.datetime < right.datetime) ? -1 : 1)) });
                          
                        }
                    } else {
                        self.fltSubj();
                        self.A_Messages.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.show() > right.show() ? -1 : (left.datetime < right.datetime ? -1 : 1)) });
                        self.B_Messages.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.show() > right.show() ? -1 : (left.datetime < right.datetime ? -1 : 1)) });
                        activeThread = -1;
                    }
                }

                self.setThreadCount = function (_Thread) {
                    if (selSubj) {
                        var countA = 0;
                        var countB = 0;
                        var _subj = _Thread.name;
                        self.A_Messages().forEach(function (element2, index2, array2) {
                            if (element2.subj == _subj) {
                                countA += 1;
                            }
                        });
                        self.B_Messages().forEach(function (element2, index2, array2) {
                            if (element2.subj == _subj) {
                                countB += 1;
                            }
                        });
                        _Thread.header(_Thread.name + ' >> A=' + countA + ' B=' + countB);
                    } else {
                        _Thread.header(_Thread.name);
                    }
                }

                self.onGoClick = function () {
                    self.Threads().forEach(function (element, index, array) {
                        self.setThreadCount(element);
                    });
                    $("#accordion1").accordion("refresh");                    
                }
            
                self.fltSubj = function (_subj) {
                    if (_subj) {
                        self.A_Messages().forEach(function (element, index, array) {
                            if (element.subj != _subj) {
                                element.show(false);
                            } else {
                                element.show(true);
                            }
                        });
                        self.B_Messages().forEach(function (element, index, array) {
                            if (element.subj != _subj) {
                                element.show(false);
                            } else {
                                element.show(true);
                            }
                        });
                    } else {
                        self.A_Messages().forEach(function (element, index, array) { element.show(true) });
                        self.B_Messages().forEach(function (element, index, array) { element.show(true) });
                    }
                }

                // ---------------------------------------------- Misc ----------------------------------------------
                self.drgRefresh = function (str) {
                    var scroll = 250 - $(str).height();
                    $(str).draggable("option", "containment", [0, scroll, 0, 145]);
                }

                function parseJsonDate(jsonDateString) {
                    var dt = new Date(parseInt(jsonDateString.replace('/Date(', '')));
                    return dt;
                }

                self.onSaveClick = function () {
                    var myArray = [];

                    var Threads = ko.toJS(self.Threads);
                    var ThreadsToSend = ko.utils.arrayMap(Threads, function(Thread){
                        return ko.utils.arrayMap(Thread.items, function (item) {
                            return item.dbID;
                        });
                    });
                    self.Threads().forEach(function (element, index, array) {
                        myArray.push(new ThreadToSend(element.dbID, element.name, ko.utils.arrayMap(element.items(), function (item) {return item.dbID;})));
                    });
                    
                    ko.utils.postJson("/Home/SaveThreads", { Threads: "{\"Threads\":".concat(ko.toJSON(myArray)).concat("}"), link: self.selectedLink().id },
                            function (data) {
                                alert("Saved");
                            });
                    }
                self.onGoClick_real = function () {

                    $.post("/Home/ReadMessagesB", { _link: self.selectedLink().id, _begDate: self.startDate, _endDate: self.endDate },
                            function (data) {
                                    $.each(data, function (i) {
                                        var myRawDate = new parseJsonDate(data[i].DateTime);
                                        var myDate = myRawDate.toString().substring(8, 10).concat(myRawDate.toString().substring(3, 8)).concat(myRawDate.toString().substring(16, 21));
                                        if(data[i].ThreadID == 0)
                                        {
                                            if(data[i].Type == "b")
                                            {
                                                self.B_Messages.push(new Message(myDate, data[i].Subj, data[i].Name, data[i].Content, data[i].TextContent, 'ccms-message-l ccms-message-l-b', true, data[i].ID));
                                            }else
                                            {
                                                self.A_Messages.push(new Message(myDate, data[i].Subj, data[i].Name, data[i].Content, data[i].TextContent, 'ccms-message-l ccms-message-l-a', true, data[i].ID));
                                            }
                                        }else
                                        {
                                            var ThreadIdx = -1;
                                            self.Threads().forEach(function (element, index, array) {
                                                
                                                if(element.dbID == data[i].ThreadID){
                                                    ThreadIdx = index;
                                                    return;
                                                }
                                            });
                                            
                                            if (ThreadIdx < 0)
                                            {
                                                self.Threads.push(new Thread(data[i].ThreadName, data[i].ThreadID));
                                                self.setThreadCount(self.Threads()[self.Threads().length - 1]);
                                                ThreadIdx = self.Threads().length - 1;
                                            }
                                            self.Threads()[ThreadIdx].items.push(new Message(myDate, data[i].Subj, data[i].Name, data[i].Content, data[i].TextContent, 'ccms-message-l ccms-message-l-'.concat(data[i].Type), true, data[i].ID));
                                            self.Threads()[ThreadIdx].items.sort(function (left, right) { return left.datetime == right.datetime ? 0 : (left.datetime < right.datetime ? -1 : 1) });
                                        }
                                    });
                                    $("#accordion1").accordion("refresh");
                                    self.drgRefresh("#accordion1");
                                    self.drgRefresh('#draggable2');
                                    self.drgRefresh('#draggable3');
                                });
                }
                self.ShowForm = function (_message) {
                    var header = "<label style='color: rgb(70,70,70)'> FROM: ".concat(_message.sender, "</label> ", "<labelstyle='color: rgb(70,70,70)'> ", _message.datetime, "</label>");
                    document.getElementById("dialog-form").innerHTML = header.concat(_message.content);
                    document.getElementById("dialog-form").title = _message.s_subj;
                    
                    dialog = $("#dialog-form").dialog({
                        modal: true,
                        autoOpen: false,
                        height: 400,
                        width: 550
                    });
                    dialog.dialog("open");
                }
                self.HideForm = function (_message) {
                    dialog.dialog("close");
                }
            }

            var VM = new CCMSViewModel();
            ko.applyBindings(VM);
            var selSubj = false;
            //init data
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                VM.startDate = picker.startDate.format('DD-MM-YYYY');
                VM.endDate = picker.endDate.format('DD-MM-YYYY');
            });
            $.post("/Home/Init", {},
                            function (data) {
                                $.each(data, function (i) {
                                    VM.Links.push(new Link(data[i].ID, data[i].Name));                                    
                                });
                            });

            //Checkboxes highlight
            $('#CB_Subj, #CB_Kwrd').click(function () {
                $(this).toggleClass('btn-warning');
                selSubj = !selSubj;

                VM.onGoClick();

            });

            $("#accordion1").accordion({
                collapsible: true,
                active: false,
                heightStyle: "content",
                animate: 0
            });

            $("#accordion1").draggable({ cancel: "p.ui-widget-header", axis: "y" });

            var scroll = 250 - $("#draggable3").height();
            $("#draggable3").draggable("option", "containment", [0, scroll, 0, 145]);
            scroll = 250 - $("#draggable2").height();
            $("#draggable2").draggable("option", "containment", [0, scroll, 0, 145]);
            scroll = 250 - $("#accordion1").height();
            $("#accordion1").draggable("option", "containment", [0, scroll, 0, 145]);
        });
    </script>
</body>
</html>