﻿<body>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/CCMSstyles")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/CCMScontrols")
    <div>
        <ul id="sortable1" class="connectedSortable">
            @{
                for (var count = 1; count <= 200; count++)
                {
                    <li class="ui-state-default">Item @count</li>
                }
            }
        </ul>
    </div>
</body>
